.courses{
    width: 100%;
    background-image: url(../../assets/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .courses__container{
        width: 100%;
        padding: 80px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        h2{
            font-family: "Tektur";
            font-weight: 700;
            font-size: 96px;
            line-height: 100px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            color: $secondary-color;

            &::first-letter{
                text-transform: uppercase;
            }
        }
        .courses__cards{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
            gap: 50px;
            justify-items: center;
            margin-top: 50px;
        }

        h4 {
            font-family: "Tektur";
            font-weight: 700;
            font-size: 23px;
            line-height: 32px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: $secondary-color;
            margin-top: 50px;
            align-self: flex-start;
        }
    }
}
