// Colors
$primary-color: #000000;
$secondary-color: #FFE001;
$background-color: #000000;
$text-color: #FFFFFF;
$border-color: #FFE000;

$btn-shadow:0 0 20px 6px #ffd800cc;
$lang-btn-border:1px solid #033538;
